.first{
    width: 200px;
    height: 200px;
    border: 2px solid green;
    margin: 3px;
    
   
}

.box{
    width: 200px;
    height: 200px;
    border: 2px solid green;
    margin: 3px;
    position: fixed;
    
}

